$color-primary: #5ec576;
$color-secondary: #ffcb03;
$color-tertiary: #ff585f;
$color-primary-darker: #4bbb7d;
$color-secondary-darker: #ffbb00;
$color-tertiary-darker: #fd424b;
$color-primary-opacity: #5ec5763a;
$color-secondary-opacity: #ffcd0331;
$color-tertiary-opacity: #ff58602d;
$gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
$gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
$max-mobile-width: 516px;
$min-mobile-width: 0;
@mixin responsive-version($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
@mixin small-mobile-version() {
  @media screen and (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
    @content;
  }
}
